{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">Status</h1>

        <p>
            {{if hasRepo}}
		        <form class="form-horizontal" method="post">
		            <fieldset>
		                <div class="form-group">
		                    <div class="col-lg-2">
		                        <select class="form-control" id="branch2" name="branch2">
		                            {{each a in branchs}}
		                                <option{{if a.selected}} selected{{/if}}>{{a.text}}</option>
		                            {{/each}}
		                        </select>
		                    </div>
		                    <button type="submit" class="btn btn-primary br" title="{{N.SelectBranch}}"><i class="fa fa-check"></i></button>
			                <a href="/{{branch}}/pull" class="btn btn-default br"><i class="fa fa-arrow-down"></i> Pull</a>
			                <a href="/{{branch}}/push" class="btn {{if unpushed}}btn-success{{else}}btn-default{{/if}} br"><i class="fa fa-arrow-up"></i> Push</a>
	                        <a href="{{git}}" class="btn btn-default br" target="_blank">Git Repo</a>
		                </div>
		            </fieldset>
		        </form>
            {{/if}}
            {{if customer}}
                <a href="/x/pull" class="btn btn-default br"><i class="fa fa-cloud-download"></i> {{N.DownloadConfig}}</a>
            {{/if}}
        </p>
        
        <hr>
        <h2>{{N.Environments}} <span class="badge">{{size envs}}</span></h2>
        <p>
            <a href="/{{branch}}/environment/add" class="btn btn-primary br">{{N.NewEnvironment}}</a>
        </p>
        {{if envs}}{{table}}{{/if}}
        
        <hr>
        <p>
            <a href="/{{branch}}/deploy" class="btn btn-default br">Deploy</a>
            <a href="/options" class="btn btn-default br"><i class="fa fa-cog"></i> {{N.Options}}</a>
            <a href="/x/push" class="btn btn-default br"><i class="fa fa-cloud-upload"></i> {{N.UploadConfig}}</a>
        </p>

        <hr>
        <p>webapp run mode: "{{info}}"</p>
        
        <p>
            OTC process pid: <b>{{pid}}</b>
            {{if alive}}<span class="badge" style="background-color: #0c0; margin-left: 2em;">otc is
            alive</span>{{else}}<span class="badge" style="background-color: #c00; margin-left: 2em;">otc is not running{{/if}}</span>
        </p>
        <p>info 1: {{info1}}</p>
        <p>info 2: {{info2}}</p>
        
        <p>Health check status code: {{status}}</p>
        
        <hr>
        <pre>{{config}}</pre>
        
        <hr>
        <p>
            <a href="/otc/kill" class="btn btn-danger br">Kill OTC</a>
            <a href="/otc/kill?m=s" class="btn btn-success">Restart OTC</a>
        </p>
        
        <hr>
        <p><small>{{datetime}} | {{VERSION}}</small></p>
    </div>
</div>

<style>
.not-active {
    text-decoration: line-through;
}
</style>
