{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">Status</h1>

        <h2>{{N.Environments}} <span class="badge">{{size envs}}</span></h2>
        <p>
            <a href="/environment/add" class="btn btn-primary br">{{N.NewEnvironment}}</a>
            <a href="/options" class="btn btn-default br"><i class="fa fa-cog"></i> {{N.Options}}</a>
            {{if hasRepo}}
                <a href="/push" class="btn btn-success br"><i class="fa fa-save"></i> Push</a>
            {{/if}}
        </p>
        {{if envs}}{{table}}{{/if}}

        <hr>
        <p>webapp run mode: "{{info}}"</p>
        
        <p>
            OTC process pid: <b>{{pid}}</b>
            {{if alive}}<span class="badge" style="background-color: #0c0; margin-left: 2em;">otc is
            alive</span>{{else}}<span class="badge" style="background-color: #c00; margin-left: 2em;">otc is not running{{/if}}</span>
        </p>
        <p>info 1: {{info1}}</p>
        <p>info 2: {{info2}}</p>
        
        <p>Health check status code: {{status}}</p>
        
        <hr>
        <pre>{{config}}</pre>
        
        <hr>
        <p>
            <a href="/otc/kill" class="btn btn-danger br">Kill OTC</a>
            <a href="/otc/kill?m=s" class="btn btn-success">Restart OTC</a>
        </p>
        <hr>
        
        <hr>
        <p><small>{{datetime}} | {{VERSION}}</small></p>
    </div>
</div>

<style>
.not-active {
    text-decoration: line-through;
}
</style>
