{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        {{if customer}}
            <p class="mt2">
                <a href="/x/pull" class="btn btn-default br"><i class="fa fa-cloud-download"></i> {{N.DownloadConfig}}</a>
            </p>
            <hr>
        {{/if}}
        
        <h2>{{N.Environments}} <span class="badge">{{size envs}}</span></h2>
        <p>
            <a href="/{{branch}}/environment/add" class="btn btn-primary br">{{N.NewEnvironment}}</a>
        </p>
        {{if envs}}{{table}}{{/if}}
        
        {{if hasRepo}}
            <hr>
            <h2>Git</h2>
            <p class="mt2">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-2">
                                <select class="form-control" id="branch2" name="branch2" title="Branch">
                                    {{each a in branchs}}
                                        <option{{if a.selected}} selected{{/if}}>{{a.text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary br" title="{{N.SelectBranch}}"><i class="fa fa-check"></i></button>
                            <a href="/{{branch}}/pull" class="btn btn-default br"><i class="fa fa-arrow-down"></i> Pull</a>
                            <a href="/{{branch}}/push" class="btn {{if unpushed}}btn-success{{else}}btn-default{{/if}} br"><i class="fa fa-arrow-up"></i> Push</a>
                            <a href="/{{branch}}/tag" class="btn btn-default br"><i class="fa fa-tag"></i> tag</a>
                            <a href="{{git}}" class="btn btn-default" target="_blank">Git Repo</a>
                        </div>
                    </fieldset>
                </form>
            </p>
        {{/if}}
        
        <hr>
        <p>
            <a href="/{{branch}}/deploy" class="btn btn-default br">Deploy</a>
            <a href="/options" class="btn btn-default br"><i class="fa fa-cog"></i> {{N.Options}}</a>
            {{if not customer}}
                <a href="/x/push" class="btn btn-default br"><i class="fa fa-cloud-upload"></i> {{N.UploadConfig}}</a>
            {{/if}}
            <a href="/otc" class="btn {{if alive}}btn-success{{else}}btn-danger{{/if}} br">{{N.otcStatus}}</a>
        </p>

        <p class="mt4"><small>Version {{VERSION}}</small></p>
    </div>
</div>

<style>
.mw1 {
    min-width: 13em;
}
.mw2 {
    min-width: 8em;
}
</style>