<nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_c1" aria-expanded="false">
                <span class="sr-only">Show/hide navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div style="margin-top: 10px; margin-left: 1.5em; font-size: 14pt; font-style: italic;">Hestia monitoring tool</div>
        </div>

        <div class="collapse navbar-collapse" id="nav_c1">
        </div>
    </div>
</nav>

<img src="/favicon.png" style="width: 80px; position: absolute; right: 20px; top: 20px;">
<table class="pagetable">
    <tr>
        <td class="mainarea" style="padding-left: 2em; padding-right: 2em;">
            <div class="container-fluid" style="padding-bottom: 15mm;">
                <!-- CONTENT -->
                {{content}}
            </div>
        </td>
    </tr>
</table>
    

    